- content_for :title, 'Unsubscribe Newsletter'

!!!
%html.has-background-grey-lighter{lang: 'en'}
  %head
    = render 'partials/head'

    -# CSS and JavaScript
    = stylesheet_link_tag '//fonts.googleapis.com/css?family=Roboto&display=swap'
    = stylesheet_packs_with_chunks_tag 'landing_page'
    = javascript_packs_with_chunks_tag 'landing_page', defer: ''

  %body.has-text-centered
    #app
      %section.section#unsubscribe
        .container.box.has-text-centered
          .columns
            .column
              = image_tag 'logo/logo_horizontal.svg', width: 200

          %h1.title.is-3.is-spaced We are sorry to see you go
          %h3.subtitle.is-5 Please let us know why you want to unsubscribe

          .columns
            .column
              = form_with url: unsubscribe_newsletters_path, scope: :newsletter_unsubscription, html: { '@ajax:success': 'ajaxSuccess', '@ajax:error': 'ajaxError' } do |f|
                .field
                  .control
                    = f.text_field :email, class: 'input', placeholder: 'Your email address', type: 'email', required: ''

                - NewsletterFeedback::REASONS.each do |key, desc|
                  .field
                    .control
                      = f.label "reasons_#{key}", class: 'checkbox' do
                        = f.check_box :reasons, { multiple: '' }, key, nil
                        = desc

                .field
                  .control.has-text-centered
                    = f.submit 'Unsubscribe', class: 'button is-primary'
