- content_for :title, 'Account settings'

.content.settings#account-settings
  .columns
    .column.is-4
      %h4.title.is-4 Change Password
    .column
      = form_with model: current_user, url: registration_path(current_user), method: :patch, html: { '@ajax:error': 'ajaxError' } do |f|
        - unless current_user.password_automatically_set?
          .field
            %label.label Old password
            .control
              = f.password_field :current_password, autocomplete: 'current-password', class: 'input', required: true
            %p.help You must provide your current password in order to change it.
        .field
          %label.label New password
          .control
            = f.password_field :password, autocomplete: 'new-password', class: 'input', required: true
            %p.help Minimum #{Devise.password_length.min} characters
        .field
          %label.label Confirm new password
          .control
            = f.password_field :password_confirmation, autocomplete: 'new-password', class: 'input', required: true

        .field.is-grouped.is-grouped-multiline.items-center
          .control
            = f.submit 'Save password', class: 'button is-success'
          .control
            = link_to 'I forgot my password', reset_password_settings_account_path, method: :put,
              data: { disable_with: 'Sending email...' }
  .columns
    .column.is-4
      %h4.title.is-4 Social Accounts
    .column
      .flex.flex-wrap
        - Devise.omniauth_providers.each do |provider|
          .buttons.has-addons.mr-5.mb-3
            .button.is-static{ class: provider_label(provider) }
              %span.icon
                %span.iconify.is-24{ 'data-icon': provider_icon(provider) }
              %span.has-text-black= provider_label(provider)
            - if current_user.oauth_provider_connected?(provider)
              = button_to 'Disconnect', disconnect_omniauth_settings_account_path(provider: provider), method: :delete,
                class: 'button has-text-danger font-semibold', data: { disable: true }
            - else
              = button_to 'Connect', omniauth_authorize_path(current_user, provider), class: 'button', data: { disable: true }
  .columns
    .column.is-4
      %h4.title.is-4.has-text-danger Delete account
    .column
      %p Once you delete your account, there is no going back. Please be certain.
      = button_to 'Delete my account', registration_path(current_user), method: :delete,
        class: 'button is-danger', data: { disable: true, confirm: 'Are you sure?' }
