- content_for :title, 'Personalities settings'

.content.settings
  .columns
    .column.is-4
      %h4.title.is-4 Personality
      %p.subtitle.is-6
        Learn more about your personality type by following the
        = link_to 'personalities chart', 'https://upload.wikimedia.org/wikipedia/commons/1/1f/MyersBriggsTypes.png', target: '_blank'
    .column
      - if current_user.personality
        %label.label Current personality
        %figure.image.mt-0
          .type
            = File.read("#{Rails.root}/public/images/personalities/#{current_user.personality.to_type.downcase}.svg").html_safe

          %h4.text-center.mt-3= current_user.personality.to_type

      = form_with model: @personality, url: settings_personality_path, method: :patch, html: { '@ajax:error': 'ajaxError' } do |f|
        .field
          .control
            %label.label Are you outwardly or inwardly focused?
            .field
              = f.label :mind_i, class: 'b-radio radio' do
                = f.radio_button :mind, 'I', required: true
                %span.check
                %span.control-label Introversion (I)

            .field
              = f.label :mind_e, class: 'b-radio radio' do
                = f.radio_button :mind, 'E'
                %span.check
                %span.control-label Extraversion (E)

        .field
          .control
            %label.label How do you prefer to take information?
            .field
              = f.label :energy_s, class: 'b-radio radio' do
                = f.radio_button :energy, 'S', required: true
                %span.check
                %span.control-label Sensing (S)
            .field
              = f.label :energy_n, class: 'b-radio radio' do
                = f.radio_button :energy, 'N'
                %span.check
                %span.control-label Intuition (N)

        .field
          .control
            %label.label How do you prefer to make decisions?
            .field
              = f.label :nature_t, class: 'b-radio radio' do
                = f.radio_button :nature, 'T', required: true
                %span.check
                %span.control-label Thinking (T)
            .field
              = f.label :nature_f, class: 'b-radio radio' do
                = f.radio_button :nature, 'F'
                %span.check
                %span.control-label Feeling (F)

        .field
          .control
            %label.label How do you prefer to live your outer life?
            .field
              = f.label :tactic_j, class: 'b-radio radio' do
                = f.radio_button :tactic, 'J', required: true
                %span.check
                %span.control-label Judging (J)
            .field
              = f.label :tactic_p, class: 'b-radio radio' do
                = f.radio_button :tactic, 'P'
                %span.check
                %span.control-label Perception (P)

        .field
          .control
            = f.submit 'Save changes', class: 'button is-success'
