- content_for :title, 'Edit Profile'

= form_with model: current_user, url: settings_profile_path, method: :patch, html: { '@ajax:success': 'profileUpdateSuccess', '@ajax:error': 'ajaxError' } do |f|
  .content.settings#profile-settings
    .columns
      .column.is-4
        %h4.title.is-4 Public Avatar
        %p.subtitle.is-6 You can change your avatar here or remove the current avatar to revert to gravatar.com
      .column
        %figure.image.is-128x128.user-avatar-container
          = image_tag user_avatar(current_user), id: 'avatar'

        %label.label Upload new avatar
        .file.has-name.my-3
          %label.file-label
            = f.file_field :avatar, accept: 'image/png,image/jpg,image/jpeg', class: 'file-input', '@change': 'avatarChanged'
            %span.file-cta
              %span.file-label
                Choose an image
            %span.file-name
              {{ avatarFilename }}
        %p.has-text-grey Maximum file size allowed is 200KB
        - if current_user.avatar.attached?
          %hr
          = link_to 'Remove avatar', remove_avatar_settings_profile_path, method: :delete, class: 'button is-danger is-outlined',
              data: { disable: true, confirm: 'Avatar will be removed. Are you sure?' }

    .columns
      .column.is-4
        %h4.title.is-4 Main settings
        %p.subtitle.is-6 This information will be shown on your profile
      .column
        .field
          %label.label Name
          .control
            = f.text_field :name, class: 'input', maxlength: 255

        %label.label Date of Birth
        .field.is-grouped.is-grouped-multiline
          .control
            .select
              = f.date_select :birthdate, start_year: Time.current.year - 7, end_year: Time.current.year - 80,
                prompt: { day: 'Select day', month: 'Select month', year: 'Select year' },
                date_separator: '</div></div><div class="control"><div class="select">'
        .field
          .control
            = f.submit 'Update profile', class: 'button is-success'
