- content_for :title, 'Metrics Dashboard'

#metrics
  .columns.has-text-centered
    .column
      .box.has-equal-height
        %p.title= "#{@static_data[0]}"
        %p.subtitle newsletter subscribers
    .column
      .box.has-equal-height
        %p.title= "#{@static_data[1]}"
        %p.subtitle page visits today
    .column
      .box.has-equal-height
        %p.title= "#{@static_data[2]}"
        %p.subtitle total page visits

  %section.section
    .container
      %h1.title.has-text-centered Subscriptions

      .columns
        .column
          .field.has-addons
            .control.is-expanded
              %input.input.single-calendar#graph-date{type: 'date', placeholder: 'Select a Date'}
            .control
              %button.button#date-clear
                %span.icon.is-small
                  %span.iconify{'data-icon': "emojione-v1:cross-mark"}
        .column
          .select.is-pulled-right
            %select#graph-select{onchange: 'changeIndexGraph()'}
              %option Subscription Ratio
              %option Subscriptions by Date
              %option Landing Page Feedback

      .content#graph-div.box
        -if @subscriptions[0][:data].present?
          = render partial: 'piechart', locals: {data: @subscriptions, group_by: 'properties -> \'type\''}
        -else
          %p No Data
