- content_for :title, 'Metrics Home'

%section.info-tiles
  .tile.is-ancestor.has-text-centered
    .tile.is-parent
      %article.tile.is-child.box
        %p.title 439k
        %p.subtitle newsletter subscribers
    .tile.is-parent
      %article.tile.is-child.box
        %p.title= "#{@today_visits}"
        %p.subtitle page visits today
    .tile.is-parent
      %article.tile.is-child.box
        %p.title= "#{@total_visits_count}"
        %p.subtitle total page visits

%section.section
  .container
    .columns.is-vcentered
      .column
        %h1.title Subscriptions
      .column.is-right
        .select.is-pulled-right
          %select
            %option Subscription Ratio
            %option Subscriptions by Date
    .content#index-graph
      = pie_chart @subscriptions.group("properties -> 'type'").count

