- content_for :title, 'Settings'

= render 'shared/toast'

#settings
  %section.section
    .container.content
      %h1.title.is-2.has-text-centered Settings

      %h4.title.is-4 Change Password
      - if current_user.encrypted_password.blank?
        %p.subtitle You can set up a password for alternate login!
      = form_with model: current_user, url: registration_path(current_user), method: :put, html: { class: 'form', '@ajax:error': 'ajaxError' } do |f|
        - if current_user.encrypted_password.present?
          .field
            %label.label Old password
            %i (we need your current password to confirm your changes)
            .control
            = f.password_field :current_password, autocomplete: 'current-password', class: 'input'
        .field
          %label.label New password
          .control
            = f.password_field :password, autocomplete: 'new-password', class: 'input'
            - if @minimum_password_length
              %em
                (#{@minimum_password_length} characters minimum)
        .field
          %label.label Confirm new password
          .control
            = f.password_field :password_confirmation, autocomplete: 'new-password', class: 'input'

        .actions
          = f.submit 'Update', class: 'button is-warning'

  %section.section
    .container.content
      %h4.title.is-4 Social Accounts
      .columns
        - Devise.omniauth_providers.each do |provider|
          .column.is-narrow
            .buttons.has-addons
              .button.is-static{ class: provider_label(provider) }
                %span.icon
                  %span.iconify.is-24{ 'data-icon': provider_icon(provider) }
                %span.has-text-black= provider_label(provider)
              .button
                - if current_user.oauth?(provider)
                  = link_to 'Disconnect', unsubscribe_omniauth_users_path(provider: provider), remote: true, method: :post, '@ajax:error': 'ajaxError',
                     class: 'has-text-danger has-text-weight-semibold'
                - else
                  = link_to 'Connect', omniauth_authorize_path(current_user, provider)

  %section.section
    .container.content
      %h4.title.is-4 Newsletter Preferences
      - if current_user.subscribed_newsletter?
        %p Are you sure? You will miss out the latest news and features!
        = link_to 'Unsubscribe Newsletter', self_unsubscribe_newsletters_path, data: { confirm: 'Are you sure?' }, method: :post, remote: true, class: 'button is-warning'
      - else
        %p Receive the latest news from our company.
        = link_to 'Subscribe Newsletter', self_subscribe_newsletters_path, class: 'button', method: :post, remote: true

  %section.section
    .container.content
      %h4.title.is-4.has-text-danger Delete my account
      %p Once you delete your account, there is no going back. Please be certain.
      = link_to 'Delete my account', registration_path(current_user), data: { confirm: 'Are you sure?' }, method: :delete, class: 'button is-danger'
