- content_for :title, "Settings"

%section.section#settings
  .container
    .columns
      .column
        %h1.title.is-1.is-spaced Settings
        -if current_user.provider.nil?
          %h1.is-size-5 Change Password

          = form_with model: current_user , url: registration_path(current_user), html: {'@ajax:error': 'ajaxError'}, method: :put do |f|
            .field
              .control
                = f.password_field :password, autocomplete: "new-password", class: 'input',placeholder: "Password"
                - if @minimum_password_length
                  %em
                    = @minimum_password_length
                    characters minimum
            .field
              .control
                = f.password_field :password_confirmation, autocomplete: "new-password", class: 'input', placeholder:"Password Confirmation"
            .field
              .control
              %i (we need your current password to confirm your changes)
              = f.password_field :current_password, autocomplete: "current-password", class: 'input', placeholder: "Current Password"
            .actions
              = f.submit "Update", {class: 'button is-primary'}
        -else 
          %h1.is-size-5 Disconnect with Accounts

        %h1.is-size-5 Newsletter Preferences
        -if current_user.subscribed_newsletter?
          %p Are you sure? You will miss out the latest news and features!
          = link_to "Unsubscribe Newsletter", self_unsubscribe_newsletters_path, data: { confirm: "Are you sure?" },method: :post, class:'button is-warning'
        -else
          %p Receive the latest news from our company.
          = link_to "Subscribe Newsletter", self_subscribe_newsletters_path, class:'button is-success',method: :post, remote: true
        %h1.is-size-5.has-text-danger Delete my account
        %p Once you delete your account, there is no going back. Please be certain.
        = link_to "Delete my account", registration_path(current_user), data: { confirm: "Are you sure?" }, method: :delete, class:'button is-danger'