- content_for :title, @user.name

%section.section#profile
  .columns.is-centered
    .column.is-full.has-text-centered
      %figure.image.is-96x96.user-avatar-container.mx-auto.mb-3
        = image_tag user_avatar(@user)
      - if @user.name.present?
        %h1.title.is-size-4
          = @user.name
      %h1.subtitle.is-size-6.has-text-grey-dark
        = @user.email
        &#183;
        = @user.created_at.strftime('Joined on %d/%m/%Y')

%section#project
  %b-tabs{ 'destroy-on-hide': '', ':animated': 'false', 'type': 'is-boxed', 'position': 'is-centered' }
    %b-tab-item
      %template{ 'slot': 'header' }
        Profile
      .content
        .tile.is-ancestor
          .tile.is-vertical
            .tile
              .tile.is-parent.is-vertical
                .tile.is-parent
                  %article.tile.is-child.notification
                    %nav.level
                      .level-item.has-text-centered
                        %div
                          %p.title.is-3 Projects
                      .level-item.has-text-centered
                        %div
                          %p.heading Project Joined
                          %p.subtitle.is-5= Project.where(id: @user.teams.pluck(:project_id)).where.not(user: @user).count
                      .level-item.has-text-centered
                        %div
                          %p.heading Project Owned
                          %p.subtitle.is-5= @user.projects.count
                      .level-item.has-text-centered
                        %div
                          %p.heading Project Completed
                          %p.subtitle.is-5= Project.where(id: @user.teams.pluck(:project_id), status: 'completed').count
                .tile
                  .tile.is-parent
                    %article.tile.is-child.notification
                      %p.title.is-3 Personality

                      - if @user.personality
                        %figure.image
                          .type
                            = File.read("#{Rails.root}/public/images/personalities/#{@user.personality.to_type.downcase}.svg").html_safe
                        %h4.text-center.mt-3= @user.personality.to_type
                      - else
                        No Personality Set
                  .tile.is-parent
                    %article.tile.is-child.notification.is-warning
                      %p.title.is-3 Skills
                      %pie-chart.mx-auto{ ':data': @chart.to_json, 'title': '', 'size': '200px', ':is-donut': true }
    %b-tab-item
      %template{ 'slot': 'header' }
        Skills
      .container.is-fullscreen
        - if current_user == @user
          = link_to 'Add Skills', '', class: 'button is-pulled-right'
        - if @user.skills.blank?
          %h4.font-semibold.text-center.py-8
            No Skills
        - else
          %skill-table{ 'initial-data': @skills.to_json }
    %b-tab-item
      %template{ 'slot': 'header' }
        Timeline
      .container.is-fullscreen
        %timeline
    %b-tab-item
      %template{ 'slot': 'header' }
        Joined Projects
      .container.is-fullscreen
        %project-list{ 'init-projects-html': '', ':init-total': 0, ':has-tabs': false, ':profile-type': true }
    %b-tab-item
      %template{ 'slot': 'header' }
        Owned Projects
      .container.is-fullscreen
        %project-list{ 'init-projects-html': '', ':init-total': 0, ':has-tabs': false }
