- content_for :title, @user.name

%section.section#profile
  .columns.is-centered
    .column.is-full.has-text-centered
      %figure.image.is-96x96.user-avatar-container.mx-auto.mb-3
        = image_tag user_avatar(@user)
      - if @user.name.present?
        %h1.title.is-size-4
          = @user.name
      %h1.subtitle.is-size-6.has-text-grey-dark
        = @user.email
        &#183;
        = @user.created_at.strftime('Joined on %d/%m/%Y')
    -# .column.is-narrow

%section#project
  %b-tabs{ 'destroy-on-hide': '', ':animated': 'false', 'type': 'is-boxed', 'v-model': 'selected', 'position': 'is-centered' }
    %b-tab-item
      %template{ 'slot': 'header' }
        Profile
      .container.is-fullscreen
        -# Simple overview of skills, project count etc
    %b-tab-item
      %template{ 'slot': 'header' }
        Skills
      .container.is-fullscreen
        - if @user.skills.blank?
          %h4.font-semibold.text-center.py-8
            No Skills
        - else
          %skill-table{ 'initial-data': @skills.to_json }
    %b-tab-item
      %template{ 'slot': 'header' }
        Statistics
      .container.is-fullscreen
        -# Possible graphs with contribution of each tasks/category
        -# Will remove if not enough time
        -# good subsitute to the feedback system
    %b-tab-item
      %template{ 'slot': 'header' }
        Joined Projects
      .container.is-fullscreen
        %project-list{ 'init-projects-html': @html, ':init-total': @pagy.count, ':has-tabs': false, ':profile-type': true }
    %b-tab-item
      %template{ 'slot': 'header' }
        Owned Projects
      .container.is-fullscreen
        %project-list{ 'init-projects-html': @html, ':init-total': @pagy.count, ':has-tabs': false }





-# .container.is-fullscreen
  -# %section.section
  -#   .container
  -#     .columns.is-mobile
  -#       .column.is-half-mobile
  -#         %h1.title.is-1 Profile
  -#       - if current_user == @user
  -#         .column.is-half-mobile
  -#           = link_to 'Edit', settings_profile_path, class: 'button is-pulled-right'
  -#     .columns.is-vcentered
  -#       .column.is-one-fifth
  -#         %figure.image.is-128x128.user-avatar-container
  -#           = image_tag user_avatar(@user)
  -#       .column.is-four-fifths
  -#         %h1.is-size-3 Name: #{@user.name}
  -#         %h1.is-size-3 Email: #{@user.email}
  -#         .columns
  -#           .column.is-half
  -#             %h1.is-size-4= 'Projects Joined:'
  -#           .column.is-half
  -#             %h1.is-size-4= 'Projects Owned:'
  -# %section.section#skills
  -#   .container
  -#     .columns.is-mobile
  -#       .column.is-half-mobile
  -#         %h1.title.is-1 Skills
  -#       - if current_user == @user
  -#         .column.is-half-mobile
  -#           = link_to 'Add Skills', '', class: 'button is-pulled-right'
