- content_for :title, 'Reset Password'

.box
  = form_with model: resource, url: password_path(resource), method: :patch, html: { '@ajax:error': 'ajaxError' } do |f|
    = f.hidden_field :reset_password_token
    .field
      %label.label New password
      .control
        = f.password_field :password, autofocus: true, autocomplete: 'new-password', class: 'input'
        %em Minimum #{@minimum_password_length} characters
    .field
      %label.label Confirm new password
      .control
        = f.password_field :password_confirmation, autocomplete: 'new-password', class: 'input'
    .field
      .control
        = f.submit 'Change password', class: 'button is-info is-fullwidth'

.box.callout.text-center
  %p.inline Didn't receive a confirmation email?
  = link_to 'Request a new one', new_user_password_path
