- content_for :title, 'Reset Password'

%section.section
  .container.is-fluid
    .columns.is-vcentered
      .column.is-half.is-offset-one-quarter.card
        %h1.title.is-1.is-spaced Change your password
        = form_with model: resource, url: password_path(resource), html: {'@ajax:error': 'ajaxError', 'method': 'put'} do |f|
          = f.hidden_field :reset_password_token
          .field
            .control
            - if @minimum_password_length
              %em
                (#{@minimum_password_length} characters minimum)
              %br/
            = f.password_field :password, autofocus: true, autocomplete: "new-password", placeholder: 'Password', class: 'input'
          .field
            .control
              = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Password Confirmation', class: 'input'
          .actions
            = f.submit "Change my password", {class: 'button is-primary'}