#footer
  .container
    .row
      .col-12.col-md
        %h5.font-weight-bold diversify
        %small.d-block.mb-3.text-muted
          %span
            = link_to raw('&copy; 2019'), '#', class: 'text-muted'
          %span
            |
            = link_to 'Privacy', '#', class: 'text-muted'
          %span
            |
            = link_to 'Terms', '#', class: 'text-muted'
      .col-4.col-md
        %ul.list-unstyled.text-small
          %h6 Product
          %li
            = link_to 'Register', register_pages_path, class: "text-muted"
          %li
            = link_to 'Features', "#{root_path}#features", class: "text-muted"
          %li
            = link_to 'Pricing', pricing_pages_path, class: "text-muted"

      .col-4.col-md
        %ul.list-unstyled.text-small
          %h6 Company
          %li
            = link_to 'About Us', about_pages_path, class: "text-muted"
          %li
            = link_to 'Feedback', feedback_pages_path, class: "text-muted"

      .col-4.col-md
        %ul.list-unstyled.text-small
          %h6 Support
          %li
            = link_to 'F.A.Qs', contact_pages_path, class: "text-muted"
          %li
            = link_to 'Contact Us', contact_pages_path, class: "text-muted"
