- content_for :title, 'Edit Team'

%section.section#teams
  .container.max-w-2xl
    %h1.title.is-4 Edit Team
    .box
      = form_with model: @team, url: [@project, @team], html: { '@ajax:error': 'ajaxError' } do |f|
        .field
          %label.label.required Team Name
          .control
            = f.text_field :name, class: 'input', required: true
        .field
          %label.label.required Max Team Size
          .control
            = f.number_field :team_size, min: 1, class: 'input', required: true
        .field
          %label.label Skills
          .select.is-multiple
            = f.select :skill_ids, @skills, {}, multiple: true
        .field.mt-8
          .control.flex.justify-between
            = f.submit 'Save Team', class: 'button is-success'
            = link_to 'Cancel', manage_project_teams_path(@team.project.id), class: 'button'
