- content_for :title, 'Create a New Team'

%section.section#teams
  .container.max-w-2xl
    %h1.title.is-4 Create a new team
    %p.subtitle.is-6 Create teams to organise your members and diversify your skills.
    .box
      = form_with model: Team.new, url: [@project, Team.new], html: { '@ajax:error': 'ajaxError' } do |f|
        .field
          %label.label.required Team Name
          .control
            = f.text_field :name, class: 'input', required: ''
        .field
          %label.label.required Max Team Size
          .control
            = f.number_field :team_size, min: 1, class: 'input', required: ''
        .field
          %label.label Skills
          .select.is-multiple
            = f.select :skill_ids, @skills, { include_hidden: false }, multiple: true
        .field.mt-8
          .control.flex.justify-between
            = f.submit 'Create Team', class: 'button is-success'
            = link_to 'Cancel', project_manage_index_path(@project), class: 'button'
