- content_for :title, 'About'

-# Div for the Intro section
%section.section#about
  .container
    %h3.title.is-1.is-spaced.has-text-centered Find out who we are and what we do!
    %p.subtitle.is-5.has-text-centered  meet the team and get to know the people bringing diversify to you!
  .container
    .columns.is-vcentered
      .column
        %h2.title.is-1
          %span.iconify{"data-icon" => "icomoon-free:quotes-left", "data-inline" => "false"}
        %h2.title.is-1
          %span Neville Kitala
        %h4.subtitle.is-3 Meng Software Engineering
        %p
          %span.fas.fa-quote-left
        Frontend Developer
      .column.is-one-third
        %figure.image
          = image_tag 'neville.png', class: 'is-rounded'
    .columns.is-vcentered.has-text-right
      .column.is-one-third
        %figure.image
          = image_tag 'wonwoo.png', class: 'is-rounded'
      .column
        %h2.title.is-1
          %span.iconify{"data-icon" => "icomoon-free:quotes-left", "data-inline" => "false"}
        %h2.title.is-1 Wonwoo Soh
        %h4.subtitle.is-3 MComp Computer Science
        %p Backend Developer
    .columns.is-vcentered
      .column
        %h2.title.is-1
          %span.iconify{"data-icon" => "icomoon-free:quotes-left", "data-inline" => "false"}
        %h2.title.is-1 Jia Hua Ng
        %h4.subtitle.is-3 MEng Software Engineering
        %p Backend Developer
      .column.is-one-third
        %figure.image
    .columns.is-vcentered.has-text-right
      .column.is-one-third
        %figure.image
          = image_tag 'jun.png', class: 'is-rounded'
      .column
        %h2.title.is-1
          %span.iconify{"data-icon" => "icomoon-free:quotes-left", "data-inline" => "false"}
        %h2.title.is-1 Zer Jun Eng
        %h4.subtitle.is-3 MEng Software Engineering
        %p Lead Developer

%section.hero.is-medium.break-is-danger
  .hero-body
    .container.has-text-centered
      %h1.title.has-text-white-bis Support the diversify movement and leave us feedback!
      = link_to 'feedback', class: 'button is-primary is-large is-light has-text-danger' do
        Make Us Better

%section.section#about
  .container
    .columns.is-vcentered
      .column
        %h3.title.is-3.is-spaced.has-text-centered Our Values!
        %p.subtitle.is-5.has-text-centered  See what we uphold to ensure you understand what we stand for!
    .tile.is-ancestor
      .tile.is-vertical.is-8
        .tile
          .tile.is-parent.is-vertical
            %article.tile.is-child.notification.border
              %p.title Punctuality
              %p We promise to deliver this project soon. The deadlines are yet to be decided. Be Patient!
            %article.tile.is-child.notification.border-danger
              %p.title Quality
              %p We promise you a quality product that will meet all your requirements.
          .tile.is-parent
            %article.tile.is-child.notification.border
              %h3.title.is-3 Transparency
              %p We aim to let you, the customer know everything that is goin on with this product.
              %p
              This includes
              %span.small keeping you up to date
              on everything we will be doing.
              %p
              %span
                = link_to 'Join our mailing list', newsletter_pages_path, class: " is-5"
              and get a copy of our newsletter here.

        .tile.is-parent
          %article.tile.is-child.notification.border-danger
            %p.title Constant Improvement
            %p More than anything we expect to consistently improve the services we offer.
            %p We plan to be on call for any problems experienced on this site.
            .content
              / Content
      .tile.is-parent
        %article.tile.is-child.notification.border
          .content
            %p.title Diversity
            %p We’re committed to working in a diverse team and to create a healthy working environment that’s inclusive of people of all backgrounds.
            %p
            %span
              = link_to 'Get to know the wonderful team', 'about#team', class: "small-white"
            who’s building our product, supporting our customers, and creating educational content.
%section.section#about
  .container
    .columns.is-vcentered
      .column
        %h3.title.is-3.is-spaced.has-text-centered Get in touch with us!
        %p.subtitle.is-5.has-text-centered  Here are our contact details!
    .columns.is-vcentered
      .column.has-text-centered
        %h3.title.is-3.is-spaced.has-text-centered.full.iconify.facebook{'data-icon': 'gridicons:location'}
        %p.is-5 EpiGenesys,Floor C,Cathedral Court
        %p.is-5 1 Vicar Lane, Sheffield,
        %p.is-5 S1 2LT
      .column.has-text-centered
        %h3.title.is-3.is-spaced.has-text-centered.full.iconify.facebook{'data-icon': 'dashicons:email-alt'}
        %p.is-5 info@epigenesys.org.uk
      .column.has-text-centered
        %h3.title.is-3.is-spaced.has-text-centered.full.iconify.facebook{'data-icon': 'el:phone'}
        %p.is-5 +44 (0)114 222 1888
  .container
    %iframe.full{:allowfullscreen => "", :frameborder => "0", :height => "450", :src => "https://www.google.com/maps/embed/v1/view?zoom=17&center=53.3827%2C-1.4710&key=AIzaSyAPqSliBEobE2LSUoHvTSK_B5MdEfjkysY", :style => "border:0"}
