- content_for :title, 'Love for Diversify'

%section.section#features
  -# Join feature
  .container
    .columns.is-vcentered
      .column
        %h5.title.is-6.description.has-text-primary.has-text-left  Join and Collaborate

        %h1.title.is-1.is-spaced Join teams and create your own
        %p.subtitle.is-6
          With our free account you can create teams of up to 10, of your own choice.
          Enjoy our team recommendation system that will give you the best diverse teams possible.
        .columns
          .column
            %h2.title.is-1.has-text-danger.iconify{'data-icon': 'typcn:group-outline'}
            %h2.title.is-6 Recommend
            %p.is-7 We will recommend you the best team members available to you
          .column
            %h2.title.is-2.has-text-danger.iconify{'data-icon': 'feather:pen-tool'}
            %h2.title.is-6 Create
            %p.is-7 Select the best team possible, according to their diversity
        .columns
          .column
            %h2.title.is-1.has-text-danger.iconify{'data-icon': 'ant-design:user-add-outline'}
            %h2.title.is-6 Join
            %p.is-7 Feel free to join any of the active public projects on the website
          .column
            %h2.title.is-1.has-text-danger.iconify{'data-icon': 'ant-design:usergroup-add-outline'}
            %h2.title.is-6 Add

            %p.is-7 Add members to your team, as many as you like!
      .column.is-two-thirds.has-text-centered
        = image_tag 'join.png'
  -# break
  %section.hero.is-medium
    .hero-body
      .container.has-text-centered
        .columns
          .column
            .media
              .media-left.has-centered
                %figure.image.is-128x128
                  = image_tag 'avatar/large/daniel.jpg', class: 'is-rounded'

          .column.is-two-thirds

            .content.title.has-text-left
              %h2.title.has-text-danger.iconify{'data-icon': 'el:quotes'}
              Diversify is the gold standard for team building and public projects. Cheers guys!
            .media
              .media-left
                .media-content
                  %p.subtitle.is-4.is-marginless Kalvin Howe
                  %p.subtitle.is-5 @kalvin

  -# Analyse feature
  .container
    .columns.is-vcentered
      .column.has-text-centered
        = image_tag 'analysis.png'
      .column
        %h5.title.is-6.description.has-text-primary.has-text-left  Analyse and Maintain

        %h1.title.is-1.is-spaced Analyse your teams performance and maintain your projects
        %p.subtitle.is-6 You can now view your likely team performance with the members you have through out the project
        .columns
          .column
            %h2.title.is-1.has-text-danger.iconify{'data-icon': 'entypo:circular-graph'}
            %h2.title.is-6 Team Analysis
            %p.is-7 See how your team stacks up through the project
          .column
            %h2.title.is-1.has-text-danger.iconify{'data-icon': 'simple-icons:graphql'}
            %h2.title.is-6 Individual analysis
            %p.is-7 Analyse each members performance throughout the project
        .columns
          .column
            %h2.title.is-1.has-text-danger.iconify{'data-icon': 'ant-design:issues-close-outline'}
            %h2.title.is-6 Solve team issues
            %p.is-7 Discuss team problems on our issues board to get you back to optimum
          .column
  -# break
  %section.hero.is-medium
    .hero-body
      .container.has-text-centered
        .columns
          .column
            .media
              .media-left.has-centered
                %figure.image.is-128x128
                  = image_tag 'avatar/large/steve.jpg', class: 'is-rounded'

          .column.is-two-thirds

            .content.title.has-text-left
              %h2.title.has-text-danger.iconify{'data-icon': 'el:quotes'}
              Diversify is definitely a torch bearer in employee satisfaction
            .media
              .media-left
                .media-content
                  %p.subtitle.is-4.is-marginless Elvis Stout
                  %p.subtitle.is-5 @elvis
  -# Join feature
  .container
    .columns.is-vcentered
      .column
        %h5.title.is-6.description.has-text-primary.has-text-left  Rate and Review

        %h1.title.is-1.is-spaced Leave feedback for your teammates and update their stats
        %p.subtitle.is-6 Get feedback on the go from your team mates on how you performed on the team.
        .columns
          .column
            %h2.title.is-1.has-text-danger.iconify{'data-icon': 'ic:baseline-comment'}
            %h2.title.is-6 Review
            %p.is-7 Tell team members what you thought about their performance
          .column
            %h2.title.is-2.has-text-danger.iconify{'data-icon': 'foundation:graph-bar'}
            %h2.title.is-6 Update Performance
            %p.is-7 Get your stats and skills updated after every project
        .columns
          .column
            %h2.title.is-1.has-text-danger.iconify{'data-icon': 'mdi:eye'}
            %h2.title.is-6 View Skills
            %p.is-7 View in realtime what your current skills are
          .column
      .column.is-two-thirds.has-text-centered
        = image_tag 'review.png'
