- content_for :title, 'Feedback'

#notification.is-hidden
  .notification
    %button.delete
    %p

%section.section#feedback
  .container
    %h1.title.is-1.has-text-centered Help us improve

    .box
      = form_with(url: submit_feedback_pages_path, method: 'post', id:'feedbackForm') do
        .field
          .control.smiley
            %label.label How is your experience with our website?
            %label.radio
              = radio_button_tag :smiley, 'sad', false, class: 'sad', required: ''
            %label.radio
              = radio_button_tag :smiley, 'neutral', false, class: 'neutral'
            %label.radio
              = radio_button_tag :smiley,'happy', false, class: 'happy'
        .field
          .control
            %label.label How did you find out our product?
            .select
              = select_tag :channel, options_for_select([ '', 'Social Media', 'Search Engine', 'Newspaper', 'Recommended by others' ]), required: ''
        .field
          .control
            %label.label Are you interested in using our product?
            %label.radio Yes
            = radio_button_tag :interest, true, required: ''
            %label.radio No
            = radio_button_tag :interest, false
        .field
          .control
            = submit_tag('Submit', class: 'button is-success')
