- content_for :title, 'Feedback'

%section.section#feedback
  .container
    %h1.title.is-1.text-center Help us improve

    .box.m-auto
      = form_with url: submit_feedback_pages_path, scope: :landing_feedback, html: { '@ajax:success': 'ajaxSuccess', '@ajax:error': 'ajaxError' } do |f|
        .field
          .control.smiley
            %label.label How is your experience with our website?
            %label.radio
              = f.radio_button :smiley, 'sad', class: 'sad', required: ''
            %label.radio
              = f.radio_button :smiley, 'neutral', class: 'neutral'
            %label.radio
              = f.radio_button :smiley, 'happy', class: 'happy'
        .field
          .control
            %label.label How did you find out our product?
            .select
              = f.select :channel, LandingFeedback::CHANNEL, { include_blank: '' }, required: ''
        .field
          .control
            %label.label Are you interested in using our product?
            = f.label :interest_true, class: 'radio' do
              = f.radio_button :interest, true, checked: true
              Yes
            = f.label :interest_false, class: 'radio' do
              = f.radio_button :interest, false
              No
        .field
          .control
            = f.submit 'Submit', class: 'button is-success'
