- content_for :title, 'Newsletter'

%section.section#newsletter
  .container
    .columns.is-vcentered
      .column

        %h1.title.is-1.is-spaced Subscribe to our newsletter
        %p.subtitle.is-5 Get the latest news and updates sent to your inbox

        .field.is-grouped#social
          %iframe#fb.social.control{ allow: 'encrypted-media', allowtransparency: 'true', frameborder: '0', scrolling: 'no', src: 'https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fteam07.demo1.genesys.shefcompsci.org.uk&layout=button&size=large&width=77&height=28&appId', style: 'border:none;overflow:hidden;width:77px;height:28px', 'data-value': 'Facebook' }
          %iframe.social#twitter-widget-0.control.twitter-share-button.twitter-share-button-rendered.twitter-tweet-button{ allowfullscreen: 'false', allowtransparency: 'true', frameborder: '0', scrolling: 'no', src: 'https://platform.twitter.com/widgets/tweet_button.69e02060c7c44baddf1b5629549acc0c.en.html#dnt=false&id=twitter-widget-0&lang=en&size=l&text=Diversify&type=share&url=https%3A%2F%2Fteam07.demo1.genesys.shefcompsci.org.uk', style: 'position: static; visibility: visible; width: 76px; height: 28px;', 'data-value': 'Twitter' }

          %a{ href: 'mailto:?subject=I wanted you to see this site&body=Check out this site https://team07.demo1.genesys.shefcompsci.org.uk/.', title: 'Share by Email', '@click': "trackSocial('Email')" }
            %span.icon.is-large
              %span.iconify{ 'data-icon': 'fxemoji:email' }

        - if user_signed_in?
          = link_to settings_users_path, class: 'button is-secondary' do
            %span.icon.iconify.is-medium{ 'data-icon': 'mdi:settings' }
            %span Subscribe in Settings Page
        - else
          = form_with url: subscribe_newsletters_path, html: { '@ajax:success': 'ajaxSuccess', '@ajax:error': 'ajaxError' } do
            .field
              .control
                = text_field_tag :email, nil, class: 'input', placeholder: 'Your email address', type: 'email', required: ''

            .field
              .control
                = submit_tag 'Subscribe', class: 'button is-secondary is-large'

      .column.has-text-centered.is-narrow
        = image_tag 'mail_letter.png', width: 400
