.container
  %section
    .container
      .columns.is-vcentered
        .column
          %h1.title.is-2
            Members
        .column.is-narrow
          - if (allowed_to? :manage?, @project) && !@project.completed?
            .buttons.has-addons
              = link_to manage_project_teams_path(@project.id), class: 'button is-info' do
                %p Manage Teams
                %span.icon
                  %span.iconify{ 'data-icon': 'ant-design:tool-filled' }
              = link_to new_project_team_path(@project), class: 'button is-primary' do
                %p New Team
                %span.icon
                  %span.iconify{ 'data-icon': 'el:plus' }
      .content
        %p.has-text-grey
          - if @project.users.empty?
            No members. Invite some to Get Started!
          - else
            Total Members
            = @project.users.size
            \/
            = @project.user.license.member_limit
      .columns.is-multiline.is-mobile
        - @project.teams.each do |team|
          .column.is-half-tablet.is-one-third-desktop
            .card
              %header.card-header
                %p.card-header-title
                  = team.name
                  %span.icon{ '@click': "teamModal(#{team.id},#{@project.id})" }
                    %span.iconify{ 'data-icon': 'ant-design:info-circle-outlined' }
                .card-header-icon
                  - if team.users.empty?
                    No Members
                  - elsif team.name != 'Unassigned'
                    = team.users.size
                    \/
                    = team.team_size
                    Members
                  - else
                    = team.users.size
                    Unassigned Members
