#settings
  - if @project.completed?
    .notification.is-warning.has-text-centered
      Project is completed and cannot be edited.
  .columns
    .column.is-4
      %h4.title.is-4 Project Details
    .column.content
      = form_with model: @project, html: { '@ajax:error': 'ajaxError' } do |f|
        %fieldset{ 'disabled': @project.completed? ? 'disabled' : false }
          .flex.flex-wrap.items-center
            .pb-4{ class: 'w-1/3 md:py-4' }
              .project-avatar.is-large
                = project_icon(@project)
            .field
              %label.label Upload new avatar
              .file.has-name
                %label.file-label
                  = f.file_field :avatar, accept: 'image/png,image/jpg,image/jpeg', class: 'file-input', '@change': 'avatarChanged'
                  %span.file-cta
                    %span.file-label
                      Choose an image
                  %span.file-name
                    {{ avatarFilename }}
              %p.has-text-grey Maximum file size allowed is 200KB
          .field.my-4
            %label.label Project Title
            .control
              = f.text_field :name, class: 'input', required: ''
          .field.my-4
            %label.label Category
            .control.is-expanded
              .select.is-fullwidth
                = f.collection_select :category_id, Category.all, :id, :name
          .field.my-4
            %label.label Project Description
            .control
              = f.text_area :description, class: 'textarea'
          - if allowed_to? :change_visibility?, @project
            .field
              .control
                %label.checkbox
                  = f.check_box :visibility, class: 'checkbox', value: 'yes'
                  Public Project
          - unless @project.completed?
            .field.my-4
              .control
                = f.submit 'Save changes', class: 'button is-success'
  .columns
    .column.is-4
      %h4.title.is-4 Project Status
    .column
      - if @project.completed?
        %h1.title.is-5.mb-3 Unarchive project
        %p.mb-4 Unarchiving the project will restore people's ability to make changes to it.
        = button_to 'Unarchive project', change_status_project_path(@project, status: 'active'), method: :patch, remote: true,
          data: { confirm: 'Are you sure?' }, class: 'button is-warning', form: { '@ajax:error': 'ajaxError' }
      - else
        %h1.title.is-5.mb-3 Archive project
        - if @project.open?
          %p.mb-4 Close the application first
        - else
          %p.mb-4 Archiving the project will make it entirely read only. The project will be marked as completed.
          = button_to 'Archive project', change_status_project_path(@project, status: 'completed'), method: :patch, remote: true,
            data: { confirm: 'Are you sure?' }, class: 'button is-danger', form: { '@ajax:error': 'ajaxError' }
