- content_for :title, @project.name
- project_image = project_avatar(@project)
%section.hero.is-primary#projects
  .hero-body
    .container
      .columns.is-vcentered
        .column.is-narrow
          = image_tag project_image
        .column
          %h1.title.is-2
            = @project.name
            - if @project.status == 'Completed'
              %b-tooltip{ 'label': 'Project Completed', 'position': 'is-top', 'type': 'is-info' }
                %span.icon.iconify{ 'data-icon': 'ion:checkmark-done-circle-sharp', 'data-inline': 'false' }
            - elsif @project.status == 'Open'
              %b-tooltip{ 'label': 'Project is Receiving Applications', 'position': 'is-top', 'type': 'is-info' }
                %span.icon.iconify{ 'data-icon': 'ic:baseline-person-add', 'data-inline': 'false' }
            - if @project.visibility
              %b-tooltip{ 'label': 'Public Project', 'position': 'is-right', 'type': 'is-info' }
                %span.icon.iconify{ 'data-tooltip': 'Tooltip Text', 'data-icon': 'fa:unlock' }
            - else
              %b-tooltip{ 'label': 'Private Project', 'position': 'is-right', 'type': 'is-info' }
                %span.icon.iconify{ 'data-icon': 'fa:lock' }

          %p Owned by: #{@project.user.name}
        .column.is-narrow
          - unless !user_signed_in? || current_user.in_team?(@project)
            - if current_user.invites.where(project: @project, types: 'Application').size.positive?
              - invite = current_user.invites.find_by(project: @project, types: 'Application')
              = button_to 'Cancel Application', invite_path(invite), method: 'delete', remote: true, data: { confirm: 'Are you sure?' }, class: 'button is-danger is-pulled-right', form: { '@ajax:error': 'ajaxError' }
            - elsif current_user.invites.where(project: @project, types: 'Invite').size.positive?
              .box
                %h1.subtitle.is-4.has-text-primary You are Invited
                - invite = current_user.invites.find_by(project: @project, types: 'Invite')
                = link_to 'Accept Invite', accept_invites_path(user_id: current_user.id, project_id: @project.id), method: 'post', remote: true, data: { confirm: 'Are you sure?' }, class: 'button is-success', '@ajax:error': 'ajaxError'
                = link_to 'Decline Invite', invite_path(invite), method: 'delete', remote: true, data: { confirm: 'Are you sure?' }, class: 'button is-danger', '@ajax:error': 'ajaxError'
            - elsif current_user != @project.user && @project.applicable?
              = button_to 'Join', invites_path(user_id: current_user.email, project_id: @project.id, types: 'Application'), method: 'post', remote: true, data: { confirm: 'Are you sure?' }, class: 'button is-success is-pulled-right', form: { '@ajax:error': 'ajaxError' }
%section
  %b-tabs{ 'type': 'is-boxed', 'expanded': '' }
    %b-tab-item{ 'active': '' }
      %template{ 'slot': 'header' }
        %span.icon.iconify{ 'data-icon': 'fe:list-task', 'data-inline': 'false' }
        Tasks
        %b-tag{ 'rounded': '' }= @project.tasks.size
    //need to add show if joined team
    %b-tab-item
      %template{ 'slot': 'header' }
        %span.icon.iconify{ 'data-icon': 'ant-design:team-outlined', 'data-inline': 'false' }
        Your Team
        %b-tag{ 'rounded': '' } 0
    %b-tab-item
      %template{ 'slot': 'header' }
        %span.icon.iconify{ 'data-icon': 'whh:avataralt', 'data-inline': 'false' }
        Members
    - if user_signed_in? && (@project.user == current_user || current_user.admin?)
      %b-tab-item
        %template{ 'slot': 'header' }
          %span.icon.iconify{ 'data-icon': 'mdi:application-import', 'data-inline': 'false' }
          Applications
          %b-tag{ 'rounded': '' } 0
        = render partial: 'applications'
      %b-tab-item{ 'label': 'Settings' }
        %template{ 'slot': 'header' }
          %span.icon.iconify{ 'data-icon': 'ic:baseline-settings', 'data-inline': 'false' }
          Settings
        = render partial: 'settings', locals: { project_image: project_image }

