- content_for :title, 'Log In'

%section.section
  .container.is-fluid
    .columns.is-vcentered
      .column.is-half.is-offset-one-quarter.card
        .card-content
          %h1.title.is-1.is-spaced Log In
          = form_with model: resource, url: session_path(resource), html: {'@ajax:error': 'ajaxError'} do |f|
            .field
              .control
                = f.email_field :email, autofocus: true, autocomplete: "email", class: 'input', placeholder: 'Email'
            .field
              .control
                = f.password_field :password, autocomplete: "current-password", class: 'input', placeholder: 'Password'
            - if devise_mapping.rememberable?
              = f.label :remember_me, class: 'checkbox'
              = f.check_box :remember_me
            .actions
              = f.submit "Log in", {class: 'button is-primary'}
          = render "devise/shared/links"