- content_for :title, 'Sign In'


%h1.title.is-1.is-spaced Sign in
= form_with model: resource, url: session_path(resource), html: {'@ajax:error': 'ajaxError'} do |f|
  .field
    .control
      = f.email_field :email, autofocus: '', autocomplete: "email", class: 'input', placeholder: 'Email', required: ''
  .field
    .control
      = f.password_field :password, autocomplete: "current-password", class: 'input', placeholder: 'Password', required: ''
  - if devise_mapping.rememberable?
    = f.label :remember_me, class: 'checkbox'
    = f.check_box :remember_me
  .actions
    = f.submit "Sign in", {class: 'button is-primary'}

= render "devise/shared/links"
