- content_for :title, 'Sign in to Diversify'

.box
  .content
    = form_with model: resource, url: session_path(resource), html: { '@ajax:error': 'ajaxError' } do |f|
      .field
        %label.label Email
        .control
          = f.email_field :email, class: 'input', autocomplete: 'email', autofocus: '', required: ''
      .field
        %label.label Password
        .control
          = f.password_field :password, autocomplete: 'current-password', class: 'input', required: ''
      .field.is-flex
        .control
          = f.label :remember_me, class: 'checkbox' do
            = f.check_box :remember_me
            Remember me
        .control
          = link_to 'Forgot password?', new_user_password_path
      .field
        .control
          = f.submit 'Sign in', class: 'button is-success is-fullwidth'

= render 'devise/shared/omniauth_box'

.box.callout.text-center
  %p.is-inline New to Diversify?
  = link_to 'Create an account', new_user_registration_path
