- content_for :title, 'Log In'

%section.section#newsletter
  .container
    .columns.is-vcentered
      .column

        %h2 Log in
        = form_with model: resource, url: session_path(resource), remote: true do |f|
          = render "devise/shared/error_messages", resource: resource
          .field
            = f.label :email
            = f.email_field :email, autofocus: true, autocomplete: "email", class: 'input'
          .field
            = f.label :password
            = f.password_field :password, autocomplete: "current-password", class: 'input'
          - if devise_mapping.rememberable?
            .field
              .control
                = f.check_box :remember_me, class: 'input'
                = f.label :remember_me
          .actions
            = f.submit "Log in"
        = render "devise/shared/links"