- content_for :notification_content, flush: true do
  %div{ class: "notification_list #{ notification.unopened? ? 'unopened' : 'opened' }" }
    .notification_list_cover
    .list_image
      - if notification.notifier.present?
        .project-avatar
          = project_icon(notification.notifier)
    .list_text_wrapper
      %p.list_text
        You
        = notification.notifiable.present? ? 'are' : 'were'
        invited to join
        %strong= notification.notifier.present? ? notification.notifier.name : 'PROJECT NAME'
        %br/
        %span= notification.created_at.strftime('%b %d %H:%M')

= render partial: 'notifications/notification', locals: { notification: notification }
