.notification_wrapper
  %a.dropdown_notification
    %p#notification_count.notification_count
      %span{:class => "#{'unopened' if @target.has_unopened_notifications?(parameters)}"}
        = @target.unopened_notification_count(parameters)
  .notification_list_wrapper
    .notification_header_wrapper
      %p.notification_header_title
        Notifications
      %p.notification_header_menu
        = link_to "Open all", open_all_notifications_path_for(@target, parameters.slice(:routing_scope, :devise_default_routes)), method: :post, remote: true
        - if @target.class.subscription_enabled?
          = link_to "Subscriptions", subscriptions_path_for(@target, parameters.slice(:routing_scope, :devise_default_routes))
    .notifications
      = yield :notification_index
    = link_to notifications_path_for(@target, parameters.slice(:routing_scope, :devise_default_routes)) do
      .notification_link_wrapper
        %p.notification_link
          See notifications

:javascript
  $(document).click(function(e){
      if( !$(e.target).is(".notification_list_cover") && !$(e.target).is(".notification_wrapper a") ){
        if($(".notification_wrapper").hasClass("open") && !$(".notification_wrapper").hasClass("opened")){
          $(".notification_wrapper").addClass("opened");
        }else if($(".notification_wrapper").hasClass("opened")){
          $(".notification_wrapper").removeClass("open").removeClass("opened");
        }
      }
  });

  $(".dropdown_notification").click(function(){
    $(this).parent().toggleClass("open");
  });
