%meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}
%meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}
= csrf_meta_tags

-# Primary Meta Tags
%meta{content: 'Automated team building tool · Diversify', name: 'title'}
%meta{content: 'Improve team performance through diversity.', name: 'description'}
-# Open Graph / Facebook
%meta{content: 'website', property: 'og:type'}
%meta{content: 'https://team07.demo1.genesys.shefcompsci.org.uk', property: 'og:url'}
%meta{content: 'Automated team building tool · Diversify', property: 'og:title'}
%meta{content: 'Improve team performance through diversity.', property: 'og:description'}
%meta{content: image_path('logo/logo_vertical.svg'), property: 'og:image'}
-# Twitter
%meta{content: 'summary_large_image', property: 'twitter:card'}
%meta{content: 'https://team07.demo1.genesys.shefcompsci.org.uk', property: 'twitter:url'}
%meta{content: 'Automated team building tool · Diversify', property: 'twitter:title'}
%meta{content: 'Improve team performance through diversity.', property: 'twitter:description'}
%meta{content: image_path('logo/logo_vertical.svg'), property: 'twitter:image'}

-# Favicon
= favicon_link_tag "#{root_path}favicon/apple-touch-icon.png", rel: 'apple-touch-icon', sizes: '180x180'
= favicon_link_tag "#{root_path}favicon/favicon-32x32.png", rel: 'icon', sizes: '32x32', type: 'image/png'
= favicon_link_tag "#{root_path}favicon/favicon-16x16.png", rel: 'icon', sizes: '16x16', type: 'image/png'
= tag :link, href: "#{root_path}favicon/manifest.json", rel: 'manifest', crossorigin: 'use-credentials'
= favicon_link_tag "#{root_path}favicon/safari-pinned-tab.svg", rel: 'mask-icon', color: '#5bbad5'
= favicon_link_tag "#{root_path}favicon/favicon.ico", rel: 'shortcut icon'
%meta{name: 'apple-mobile-web-app-title', content: 'Diversify'}
%meta{name: 'application-name', content: 'Diversify'}
%meta{name: 'msapplication-TileColor', content: '#da532c'}
%meta{name: 'msapplication-config', content: "#{root_path}favicon/browserconfig.xml"}
%meta{name: 'theme-color', content: '#ffffff'}

%title #{content_for(:title)} ꞏ Diversify
