%nav.navbar.is-fixed-top.is-spaced#navbar
  .container
    .navbar-brand
      = link_to root_path, class: 'navbar-item' do
        = image_tag 'logo/logo_horizontal.svg', width: 150
      .navbar-burger.burger{'v-bind:class': "{ 'is-active': showNavbar }", '@click': 'showNavbar = !showNavbar'}
        %span
        %span
        %span
    .navbar-menu{'v-bind:class': "{ 'is-active': showNavbar }"}
      .navbar-end.navbar-center
        -if user_signed_in?
          = navbar_link 'Profile', user_path(current_user)
          = navbar_link 'Your Projects'
          = navbar_link 'Browse Projects'
        -else
          = navbar_link 'Pricing', pricing_pages_path
          = navbar_link 'About', about_pages_path
          = navbar_link 'Customers', love_pages_path
          = navbar_link 'Features', features_pages_path
          = navbar_link 'Newsletter', newsletter_pages_path
      .navbar-end
        - if user_signed_in?
          .buttons
            = link_to settings_users_path, class: 'button is-secondary' do
              %span.icon.iconify.is-medium{'data-icon': 'mdi:settings'}
              %span Settings
            = link_to destroy_user_session_path, method: :delete, class: 'button is-primary' do
              %span.icon.iconify.is-medium{'data-icon': 'fe:logout'}
              %span Log Out
        - else
          = link_to 'Sign in', new_user_session_path, class: 'button is-primary'
