!!!
%html{lang: 'en'}
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}
    %meta{content: 'IE=edge', 'http-equiv': 'X-UA-Compatible'}
    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}
    = csrf_meta_tags

    -# Favicon
    = favicon_link_tag 'favicon/apple-touch-icon.png', rel: 'apple-touch-icon', sizes: '180x180'
    = favicon_link_tag 'favicon/favicon-32x32.png', rel: 'icon', sizes: '32x32', type: 'image/png'
    = favicon_link_tag 'favicon/favicon-16x16.png', rel: 'icon', sizes: '16x16', type: 'image/png'
    = favicon_link_tag 'favicon/site.webmanifest', rel: 'manifest'
    = favicon_link_tag 'favicon/safari-pinned-tab.svg', rel: 'mask-icon', color: '#5bbad5'
    = favicon_link_tag 'favicon/favicon.ico', rel: 'shortcut icon'
    %meta{name: 'apple-mobile-web-app-title', content: 'Diversify'}
    %meta{name: 'application-name', content: 'Diversify'}
    %meta{name: 'msapplication-TileColor', content: '#da532c'}
    %meta{name: 'msapplication-config', content: "#{asset_path 'favicon/browserconfig.xml'}"}
    %meta{name: 'theme-color', content: '#ffffff'}

    -# CSS and JavaScript
    = stylesheet_link_tag '//fonts.googleapis.com/css?family=Poppins&display=swap'
    = stylesheet_link_tag 'application', media: :all
    = javascript_include_tag 'application', defer: true

    %title #{content_for(:title)} | Diversify

  %body
    #navigation
      .container
        %nav.navbar.navbar-expand-lg.navbar-light
          = link_to :root, class: 'font-weight-bold' do
            %span
              %img{:alt => "", :height => "30", src: asset_path("favicon/android-chrome-192x192.png"), :width => "30"}
            %span Diversify
          %button.navbar-toggler{"aria-controls" => "navbarText", "aria-expanded" => "false",
           "aria-label" => "Toggle navigation", "data-target" => "#navbarText",
            "data-toggle" => "collapse", :type => "button", :onclick => 'navButton(this)'}
            .bar1
            .bar2
            .bar3
          #navbarText.collapse.navbar-collapse
            = link_to :root, class: 'nav-link' do
              %span Home
              %span.line
            = link_to :root, class: 'nav-link' do
              %span Pricing
              %span.line
            = link_to :root, class: 'nav-link' do
              %span Contact
              %span.line
            = link_to :root, class: 'nav-link' do
              %span About Us
              %span.line


    %main
      = yield
