!!!
%html{lang: 'en'}
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}
    %meta{content: 'IE=edge', 'http-equiv': 'X-UA-Compatible'}
    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}
    = csrf_meta_tags

    -# Favicon
    = favicon_link_tag 'favicon/apple-touch-icon.png', rel: 'apple-touch-icon', sizes: '180x180'
    = favicon_link_tag 'favicon/favicon-32x32.png', rel: 'icon', sizes: '32x32', type: 'image/png'
    = favicon_link_tag 'favicon/favicon-16x16.png', rel: 'icon', sizes: '16x16', type: 'image/png'
    = favicon_link_tag 'favicon/site.webmanifest', rel: 'manifest'
    = favicon_link_tag 'favicon/safari-pinned-tab.svg', rel: 'mask-icon', color: '#5bbad5'
    = favicon_link_tag 'favicon/favicon.ico', rel: 'shortcut icon'
    %meta{name: 'apple-mobile-web-app-title', content: 'Diversify'}
    %meta{name: 'application-name', content: 'Diversify'}
    %meta{name: 'msapplication-TileColor', content: '#da532c'}
    %meta{name: 'msapplication-config', content: "#{asset_path 'favicon/browserconfig.xml'}"}
    %meta{name: 'theme-color', content: '#ffffff'}

    -# CSS and JavaScript
    = stylesheet_link_tag '//fonts.googleapis.com/css?family=Poppins&display=swap'
    = stylesheet_link_tag 'application', media: :all
    = javascript_include_tag 'application', defer: true

    %title #{content_for(:title)} | Diversify

  %body.has-spaced-navbar-fixed-top
    %nav.navbar.is-fixed-top.is-spaced
      .container
        .navbar-brand
          = link_to root_path, class: 'navbar-item' do
            = image_tag 'logo/logo_horizontal.svg', width: 150
          .navbar-burger.burger{'data-target': 'navbar'}
            %span
            %span
            %span
        #navbar.navbar-menu
          .navbar-end
            = link_to 'Home', root_path, class: 'navbar-item'
            = link_to 'Pricing', pricing_pages_path, class: 'navbar-item'
            = link_to 'About', about_pages_path, class: 'navbar-item'
            = link_to 'Newsletter', root_path, class: 'navbar-item'

    = yield

    %footer.footer
      .container
        .columns
          .column.has-text-centered
            = link_to root_path do
              = image_tag 'logo/logo_vertical.svg', width: 100
            %p Copyright &copy; 2019
          .column
            %h5.title.is-5.is-spaced Products
            = link_to 'Features', root_path, class: 'subtitle is-6'
            = link_to 'Pricing', root_path, class: 'subtitle is-6'
            = link_to 'Newsletter', root_path, class: 'subtitle is-6'
          .column
            %h5.title.is-5.is-spaced Company
            = link_to 'About Us', root_path, class: 'subtitle is-6'
            = link_to 'Feedback', root_path, class: 'subtitle is-6'
          .column
            %h5.title.is-5.is-spaced Support
            = link_to 'Contact Us', root_path, class: 'subtitle is-6'
