!!!
%html{ lang: 'en' }
  %head
    = render 'layouts/head'

    = yield :head

  %body{ class: "#{'has-spaced-navbar-fixed-top' unless content_for(:no_navbar)}" }
    #app
      - unless content_for :no_navbar
        = render 'layouts/header_nav'

      - if content_for :specific_yield
        = content_for :specific_yield
      - else
        = yield

      = content_for :footer
