!!!
%html{ lang: 'en' }
  %head
    = render 'layouts/head'

  %body.has-navbar-fixed-top.has-spaced-navbar-fixed-top
    %div{ id: "#{content_for :id}" }
      = render 'layouts/header_nav'

      = render 'shared/toast'

      - if content_for :custom_yield
        = yield :custom_yield
      - else
        = yield

      = content_for :footer
