!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    = csrf_meta_tags

    = favicon_link_tag '/favicon.ico'

    %title Project - #{content_for(:title)}
    = stylesheet_link_tag    "application", media: :all
    = javascript_include_tag "application", defer: true

  %body
    %main
      #main-container.container
        = yield
