!!!
%html{ lang: 'en' }
  %head
    = render 'layouts/head'
    = javascript_packs_with_chunks_tag 'devise', defer: ''

    %body
      #auth
        = render 'shared/toast'

        .container
          %figure.image.is-96x96
            = link_to root_path do
              = image_tag 'logo/logo.svg', width: 75

          %p.has-text-centered.subtitle.is-4
            = content_for :title

          = yield

