- content_for :head do
  = stylesheet_packs_with_chunks_tag 'devise'
  = javascript_packs_with_chunks_tag 'devise', defer: ''

- if current_path?(new_user_session_path) || current_path?(new_user_registration_path) || current_path?(new_user_password_path) || current_path?(edit_user_password_path)
  - content_for :no_navbar, true
  - content_for :specific_yield do
    %body#auth
      #app
        .container
          %figure.image.is-96x96
            = link_to root_path do
              = image_tag 'logo/logo.svg', width: 75

          %p.has-text-centered.subtitle.is-4
            = content_for :title

          = yield
- else
  - content_for :footer do
    = render 'layouts/footer'

= render template: 'layouts/application'
