= stylesheet_packs_with_chunks_tag 'mailer'

%table.outer{ width: '100%', height: '100%' }
  %tr
    %td{ width: '100%', height: '100%', bgcolor: 'gray', align: 'center' }
      %table.inner{ width: '550px', height: '100%', bgcolor: 'white' }
        %tr
          %td
            %header
              = link_to root_url do
                = image_tag 'https://raw.githubusercontent.com/Juneezee/project/master/public/images/logo/logo_horizontal.svg?sanitize=true', width: 200

            %section
              = yield

            %footer
              %p
                %a.icon.brand{ href: '#' }
                  = image_tag 'https://raw.githubusercontent.com/Juneezee/project/master/public/images/iconify/facebook.webp'
                %a.icon.brand{ href: '#' }
                  = image_tag 'https://raw.githubusercontent.com/Juneezee/project/master/public/images/iconify/twitter.webp'
                %a.icon.brand{ href: '#' }
                  = image_tag 'https://raw.githubusercontent.com/Juneezee/project/master/public/images/iconify/instagram.webp'
                %a.icon.brand{ href: '#' }
                  = image_tag 'https://raw.githubusercontent.com/Juneezee/project/master/public/images/iconify/linkedin.webp'

              %p
                If you would like to unsubscribe please click
                = link_to 'here', unsubscribe_newsletters_url, target: '_blank', rel: 'noopener'

              %p Copyright &copy; 2019 Diversify
