!!!
%html{lang: 'en'}
  %head
    = render 'layouts/head'

    = stylesheet_packs_with_chunks_tag 'metrics/metrics'

    - if content_for(:newsletter)
      = stylesheet_packs_with_chunks_tag 'metrics/newsletter'
      = javascript_packs_with_chunks_tag 'metrics/newsletter', defer: ''
    - else
      = javascript_packs_with_chunks_tag 'metrics/metrics', defer: ''

  %body.has-spaced-navbar-fixed-top
    %nav.navbar.is-fixed-top.is-spaced
      .container
        .navbar-brand
          = link_to metrics_path, class: 'navbar-item' do
            = image_tag 'logo/logo_horizontal.svg', width: 150
          = link_to 'Landing Page', root_path, class: 'navbar-item'

    %section.section
      .container
        .columns
          .column.is-3
            %aside.menu
              %p.menu-label
                General
              %ul.menu-list
                %li
                  = link_to 'Dashboard', metrics_path, class: "#{active?(metrics_path)}"
                %li
                  = link_to 'Social Media', social_metrics_path, class: "#{active?(social_metrics_path)}"

              %p.menu-label
                Traffic
              %ul.menu-list
                %li
                  = link_to 'Overview', traffic_metrics_path, class: "#{active?(traffic_metrics_path)}"

              %p.menu-label
                Newsletter
              %ul.menu-list
                %li
                  = link_to 'Overview', newsletter_metrics_path, class: "#{active?(newsletter_metrics_path)}"
                %li
                  = link_to "Newsletter Archive", newsletters_path, class: "#{action?("newsletters","index")}"
                %li
                  = link_to 'Send newsletter', new_newsletter_path, class: "#{action?("newsletters","new")} #{action?("newsletters","create")}"
                %li
                  = link_to 'Subscriber Management', subscribers_newsletters_path, class: "#{active?(subscribers_newsletters_path)}"
          .column.is-9
            #app
              = yield
