- content_for :head do
  = stylesheet_packs_with_chunks_tag 'metrics/metrics'

  - if content_for :newsletter
    = stylesheet_packs_with_chunks_tag 'metrics/newsletter'
    = javascript_packs_with_chunks_tag 'metrics/newsletter', defer: ''
  - else
    = javascript_packs_with_chunks_tag 'metrics/metrics', defer: ''

- content_for :specific_yield do
  %section.section
    .container
      .columns
        .column.is-3
          %aside.menu
            %p.menu-label
              General
            %ul.menu-list
              %li
                = nav_link_to 'Dashboard', path: metrics_path
              %li
                = nav_link_to 'Social Media', path: social_metrics_path

            %p.menu-label
              Traffic
            %ul.menu-list
              %li
                = nav_link_to 'Overview', path: traffic_metrics_path

            %p.menu-label
              Newsletter
            %ul.menu-list
              %li
                = nav_link_to 'Overview', path: newsletter_metrics_path
              %li
                = nav_link_to 'Newsletter Archive', path: newsletters_path, controller: :newsletters, action: %i[index show]
              %li
                = nav_link_to 'Send newsletter', path: new_newsletter_path
              %li
                = nav_link_to 'Subscriber Management', path: subscribers_newsletters_path
        .column.is-9
          #app
            = yield

= render template: 'layouts/application'
