- content_for :id, 'user-settings'

- content_for :javascript do
  = javascript_packs_with_chunks_tag 'settings', defer: ''

- content_for :custom_yield do
  %section.section
    .container
      .columns
        .column.is-3
          %aside.menu
            %p.menu-label
              General
            %ul.menu-list
              %li
                = nav_link_to 'Settings', path: settings_users_path
              %li
                = nav_link_to 'Profile', path: edit_user_path(current_user)
              %li
                = nav_link_to 'Skills', path: '#'
        .column.is-9
          = yield

= render template: 'layouts/application'
