- content_for :id, 'user'

- content_for :javascript do
  = javascript_packs_with_chunks_tag 'user', defer: ''

- if controller_path.include?('settings')
  - content_for :sidebar do
    %nav.panel
      %p.panel-heading
        User Settings
      = nav_link_to 'Profile', path: settings_profile_path, class: 'panel-block'
      = nav_link_to 'Account', path: settings_account_path, class: 'panel-block'
      = nav_link_to 'Emails', path: settings_emails_path, class: 'panel-block'
      %p.panel-heading
        User Profile
      = nav_link_to 'Personalities', path: '#', class: 'panel-block'
      = nav_link_to 'Skills', path: '#', class: 'panel-block'

- content_for :footer do
  = render 'layouts/footer'

= render template: 'layouts/application'
